 body {
 	background-image: url(images/dark_embroidery.png);
 	background-position: top left;
 	background-repeat: repeat;
 }
 body h1 {
 	font-size: 100px;
 	font-weight: bold;
 	color: white;
 	text-align: center;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	//border: 1px solid white;
 }

 aside{
 	padding-left: 330px;
 	padding-bottom: 25px;
 }

 aside button {
 	text-align: center;
 }
 


 .refresh {
	font-size: 24px;
	border-radius: 5px;
	display: block;
	text-align: center;
	color: white;
 	display: block;
 	margin:10px auto 10px auto;
}

.feed {
	text-align: center;
	display: inline-block;
	color: #FFCCFF;
	padding: 5px 5px 5px 5px;
	border-bottom:1px solid white;
	margin: 3px 30px 3px 0px;

}